* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: exo2-bold;
  src: url(../fonts/Exo2-Bold.ttf);
}

@font-face {
  font-family: exo2-semibold;
  src: url(../fonts/Exo2-SemiBold.ttf);
}

@font-face {
  font-family: exo2-extrabold;
  src: url(../fonts/Exo2-ExtraBold.ttf);
}

@font-face {
  font-family: exo2-medium;
  src: url(../fonts/Exo2-Medium.ttf);
}

@font-face {
  font-family: exo2-mediumitalic;
  src: url(../fonts/Exo2-MediumItalic.ttf);
}

@font-face {
  font-family: exo2;
  src: url(../fonts/Exo2-Regular.ttf);
}

@font-face {
  font-family: mulish;
  src: url(../fonts/Mulish-Regular.ttf);
}

@font-face {
  font-family: mulish-medium;
  src: url(../fonts/Mulish-Medium.ttf);
}

:root {
  --primary-color: #da1f22;
  --secondary-color: #1b3767;
  --tertiary-color: #fff;
  --fourth-color: #000;
}

a,
button,
input[type="submit"] {
  transition: all 0.5s;
  text-decoration: none;
  font-family: exo2-medium;
  font-size: 16px;
}

h1 {
  font-family: exo2-extrabold;
  font-size: 60px;
  margin: 0;
  color: var(--primary-color);
}

h2 {
  font-family: exo2-bold;
  font-size: 42px;
  margin: 0;
  color: var(--fourth-color);
}

h2 span {
  color: var(--primary-color);
}

h3,
h4,
h6 {
  font-family: exo2-bold;
  margin: 0;
}

h5 {
  font-family: mulish;
  font-size: 16px;
  margin: 0 0 10px 0;
  position: relative;
  display: inline-block;
}

.subhead {
  padding: 0 0 0 90px;
  position: relative;
  display: inline-block;
}

.subhead::before {
  width: 75px;
  height: 1px;
  position: absolute;
  content: " ";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--secondary-color);
}

p,
li {
  margin-bottom: 0;
  font-size: 16px;
  color: #404040;
  font-family: mulish;
}

input,
select,
textarea {
  font-family: mulish;
  font-size: 15px;
  color: var(--fourth-color);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  height: auto;
}

.custom-margin {
  margin: 60px 0;
}

.padd {
  padding: 60px 0;
}

.margin-sec {
  margin: 0 0 60px 0;
}

.custom-btn {
  position: relative;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
}

.custom-btn:after {
  content: "";
  background: var(--secondary-color);
  position: absolute;
  transition: all 0.3s ease-in;
  z-index: -1;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(30deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.custom-btn:hover:after {
  height: 100%;
  width: 135%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav-bar {
  width: 100%;
}

.nav-flex {
  width: 100%;
  position: relative;
}

.logo {
  width: 20%;
}

.logo img {
  width: 50%;
}

.menu {
  width: 55%;
  text-align: center;
}

.menu ul {
  display: inline-block;
}

.menu ul li {
  display: inline-block;
  margin: 0 40px 0 0;
  padding: 30px 0;
  color: var(--fourth-color);
  position: relative;
}

.menu ul li:hover {
  color: var(--secondary-color);
}

.menu ul li:hover a {
  color: var(--secondary-color);
}

.menu ul li.active {
  color: var(--primary-color);
}

.menu ul li.active a {
  color: var(--primary-color);
  font-family: exo2-semibold;
}

.click-btn {
  position: absolute;
  right: -20px;
  top: 32px;
  transition: all 0.5s;
  cursor: pointer;
}

.click-toggle {
  transform: rotate(180deg);
}

.menu ul li a {
  color: var(--fourth-color);
}

.menu ul li:last-child {
  margin: 0;
}

ul.sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 300px;
  display: inline-block;
  text-align: left;
  display: none;
  border-radius: 5px;
  box-shadow: 0 5px rgba(132, 132, 132, 0.3);
  background: var(--tertiary-color);
  padding: 10px;
  z-index: 99;
  animation: slidemenu 0.5s ease-in;
}

@keyframes slidemenu {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

ul.sub-menu li {
  padding: 0 0 10px 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #ddd;
}

ul.sub-menu li:last-child {
  padding: 0;
}

.menu ul li:hover ul.sub-menu li a {
  color: var(--tertiary-color);
}

ul.sub-menu li a {
  padding: 0;
  width: 100%;
  display: inline-block;
  padding: 10px 15px;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 5px;
}

ul.sub-menu li a:hover {
  background: var(--primary-color);
  padding-left: 20px;
  letter-spacing: 1px;
}

.menu ul li.active ul.sub-menu li a {
  color: var(--tertiary-color);
}

.menu-btn {
  width: 20%;
  text-align: right;
}

.menu-btn a {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  background: var(--primary-color);
  position: relative;
}

.mobile-menu {
  display: none;
}

.sticky {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  animation: slidetop 1s linear;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(132, 132, 132, 0.3);
  background: var(--tertiary-color);
}

@keyframes slidetop {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

/* header ends */

.form-popup-box h2 {
  font-size: 35px;
  color: var(--primary-color);
}

.close-popup {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 15px;
  color: var(--primary-color);
  background: none;
  outline: none;
  border: 1px solid var(--secondary-color);
}

.close-popup:hover {
  background: var(--secondary-color);
  border: transparent;
  color: var(--tertiary-color);
}

.popup-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  transition: all 0.5s;
  outline: none;
  border-radius: 5px;
  margin: 0 0 20px 0;
  background: none;
}

.popup-input::placeholder {
  color: var(--fourth-color);
  opacity: 1;
}

.popup-input:focus {
  border-color: var(--primary-color);
}

.popup-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  transition: all 0.5s;
  outline: none;
  border-radius: 5px;
  margin: 0 0 20px 0;
  background: none;
}

.popup-select::placeholder {
  color: var(--fourth-color);
  opacity: 1;
}

.popup-select:focus {
  border-color: var(--primary-color);
}

.popup-area {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  transition: all 0.5s;
  outline: none;
  border-radius: 5px;
  margin: 0 0 20px 0;
  background: none;
  height: 70px;
}

.popup-area::placeholder {
  color: var(--fourth-color);
  opacity: 1;
}

.popup-area:focus {
  border-color: var(--primary-color);
}

.popup-submit {
  width: 100%;
  padding: 10px 0;
  background: var(--secondary-color);
  border: none;
  outline: none;
  color: var(--tertiary-color);
  border-radius: 5px;
}

.popup-submit:hover {
  background: var(--primary-color);
}

.slider {
  width: 100%;
}

.banner {
  width: 100%;
  position: relative;
  height: 600px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-in {
  animation: zoom-in 10s infinite forwards ease-in;
}

@keyframes zoom-in {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.5, 1.5);
  }
}

.banner-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 12% 0 0 0;
  background: rgba(255, 255, 255, 0.4);
}

.banner-cont h5 {
  color: var(--secondary-color);
}

.banner-cont h5.subhead::before {
  background: var(--secondary-color);
}

.banner-cont h1 span {
  color: var(--fourth-color);
}

.banner-cont p {
  margin: 20px 0 0 0;
  width: 60%;
  color: var(--fourth-color);
}

.banner-cont a {
  display: inline-block;
  padding: 8px 20px;
  background: var(--primary-color);
  margin: 20px 0 0 0;
  font-size: 18px;
  border-radius: 4px;
}

.slider .owl-prev {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color) !important;
  color: var(--primary-color) !important;
  font-size: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
  cursor: pointer;
  z-index: 999;
}

.slider .owl-prev:hover {
  background: var(--primary-color) !important;
  color: var(--tertiary-color) !important;
  border: transparent !important;
}

.slider .owl-next {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color) !important;
  color: var(--primary-color) !important;
  font-size: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
  cursor: pointer;
  z-index: 999;
}

.slider .owl-next:hover {
  background: var(--primary-color) !important;
  color: var(--tertiary-color) !important;
  border: transparent !important;
}

/* slider css ends */

.gallery-box {
  width: 100%;
}

.gallery-box h5 {
  color: var(--secondary-color);
}

.photo-gallery {
  width: 100%;
  margin: 40px 0 0 0;
  columns: 4;
  column-gap: 16px;
}

.photo-box {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 16px;
  display: inline-block;
}

.photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all 1s;
  cursor: pointer;
}

.photo-box:hover img {
  transform: scale(1.2);
}

.photo-abso {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.photo-abso a {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: var(--tertiary-color);
  border-radius: 50%;
  background: var(--primary-color);
  transition: all 1s;
  cursor: pointer;
}

.photo-abso a:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
}

.photo-box:hover .photo-abso {
  top: 0;
}

.photo-box:hover .photo-abso a {
  top: 50%;
}

.mfp-image-holder .mfp-content {
  max-width: 500px !important;
}

.about-box {
  width: 100%;
}

.about-image {
  width: 95%;
  height: 350px;
  border-radius: 10px;
  box-shadow: -10px -10px 10px var(--secondary-color);
  cursor: pointer;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s;
}

.about-image:hover img {
  transform: scale(1.2);
}

.about-text {
  width: 100%;
}

.about-text h5 {
  color: var(--secondary-color);
}

.about-text p {
  margin: 15px 0 0 0;
}

.about-text p span {
  font-family: exo2-semibold;
  color: var(--primary-color);
}

.counter-box {
  padding: 30px 0 60px 0;
  background: #f4f4f4;
}

.counter {
  width: 100%;
  text-align: center;
}

.counter-head {
  color: var(--primary-color);
}

.counter-head h2 {
  color: var(--primary-color);
}

.counter-head span {
  font-family: exo2-extrabold;
  margin: 0 0 0 5px;
  font-size: 42px;
}

.testimonial-box {
  width: 100%;
  background: #f0d8d8;
}

.testimonial-text {
  width: 95%;
}

.testimonial-text h5 {
  color: var(--primary-color);
}

.testimonial-text h5.subhead::before {
  background: var(--primary-color);
}

.testimonial {
  width: 100%;
  margin: 30px 0 0 0;
}

.testimonial h4 {
  color: var(--secondary-color);
  margin: 15px 0 0 0;
  font-size: 22px;
  font-family: exo2-semibold;
}

.testimonial-image {
  width: 100%;
  height: 450px;
  position: relative;
}

.testimonial-image .carousel {
  height: 400px;
}

.testimonial-image .carousel-inner {
  height: 400px;
}

.testimonial-image .carousel-item {
  height: 400px;
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev {
  bottom: none;
  width: 30px;
  top: 450px;
  color: var(--secondary-color);
}

.carousel-control-next:hover {
  color: var(--primary-color);
}

.carousel-control-prev:hover {
  color: var(--primary-color);
}

.quote-box {
  width: 100%;
}

.quote-box p {
  margin: 0 auto 15px auto;
  font-size: 25px;
  color: var(--secondary-color);
  width: 70%;
  font-family: exo2-mediumitalic;
}

.quote-box h5 {
  font-size: 18px;
  font-family: exo2-semibold;
}

.quote-box h5.subhead::before {
  background: var(--primary-color);
}

.bottom-gallery-box {
  width: 100%;
}

.swiper {
  padding: 0 0 50px 0 !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}

.footer {
  width: 100%;
  background: #dfe8f8;
}

.footer-first {
  order: 1;
}

.footer-secondbox {
  order: 0;
}

.footer-thirdbox {
  order: 3;
}

.footer-image {
  width: 100%;
}

.footer-image img {
  width: 40%;
}

.footer-image p {
  width: 70%;
  color: var(--fourth-color);
  margin: 20px auto 0 auto;
  font-size: 15px;
}

.footer-icon {
  width: 100%;
  margin: 30px 0 0 0;
}

.footer-icon ul {
  display: inline-block;
}

.footer-icon ul li {
  display: inline-block;
  margin: 0 5px 0 0;
}

.footer-icon ul li a {
  padding: 0;
  display: grid;
  place-items: center;
  width: 37px;
  height: 37px;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  font-size: 19px;
}

.footer-icon ul li a:hover {
  background: var(--primary-color);
}

.footer-link {
  width: 100%;
}

.footer-link h3 {
  font-size: 24px;
  color: var(--primary-color);
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  position: relative;
  display: inline-block;
  font-family: exo2-semibold;
}

.footer-link h3::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 90%;
  height: 3px;
  background: var(--primary-color);
}

.footer-link ul li {
  margin: 0 0 10px 0;
}

.footer-link ul li:last-child {
  margin: 0;
}

.footer-link ul li a {
  position: relative;
  padding: 0 0 0 30px;
  display: inline-block;
  color: var(--fourth-color);
}

.footer-link ul li a::before {
  position: absolute;
  content: "➤";
  left: 0;
  top: 0;
  color: var(--secondary-color);
  transition: 0.5s;
}

.footer-link ul li a:hover {
  color: var(--primary-color);
}

.footer-link ul li a:hover::before {
  color: var(--primary-color);
}

.footer-second {
  padding: 0 0 0 15%;
}

.footer-contact h3 {
  font-size: 24px;
  color: var(--primary-color);
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  position: relative;
  display: inline-block;
  font-family: exo2-semibold;
}

.footer-contact h3::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 90%;
  height: 3px;
  background: var(--primary-color);
}

.foot-iconbox {
  width: 100%;
  margin: 0 0 15px 0;
}

.foot-iconbox:last-child {
  margin: 0;
}

.foot-icon {
  width: 30px;
  height: 30px;
  background: var(--secondary-color);
  font-size: 15px;
  color: var(--tertiary-color);
}

.foot-icontext {
  width: calc(100% - 45px);
}

.foot-icontext h4 {
  font-size: 21px;
  color: var(--secondary-color);
  margin: 0 0 5px 0;
}

.foot-icontext a {
  color: var(--fourth-color);
}

.foot-icontext a:hover {
  color: var(--primary-color);
}

.foot-icontext p {
  font-size: 16px;
  font-family: mulish-medium;
  color: var(--fourth-color);
  cursor: pointer;
}

.foot-iconbox:hover .foot-icon {
  background: var(--primary-color);
}

.footer_copyright {
  width: 100%;
  text-align: center;
  background: #dfe8f8;
}

.footer_copyright .container {
  border-top: 1px solid var(--primary-color);
}

.footer_copyright p {
  margin: 0;
  color: var(--fourth-color);
  font-family: mulish;
  padding: 30px 0;
}

.footer_copyright p span {
  font-family: exo2-semibold;
  color: var(--primary-color);
}

.footer_copyright p a {
  font-family: mulish;
}

.footer_copyright p a:hover {
  color: var(--primary-color) !important;
}

.scroll_top {
  width: 40px;
  height: 40px;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  font-size: 17px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  transition: all 0.4s;
  cursor: pointer;
}

.scroll_top:hover {
  background: var(--primary-color);
  color: var(--tertiary-color);
}

/* index css ends */

/* media starts */

@media only screen and (max-width: 1399.2px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1300.2px) {
  .banner {
    height: 500px;
  }

  .banner-cont {
    padding: 8% 0 0 0;
  }

  h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 1255.2px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  .padd {
    padding: 40px 0;
  }

  .custom-margin {
    margin: 40px 0;
  }

  .margin-sec {
    margin: 0 0 40px 0;
  }

  .counter-box {
    padding: 10px 0 40px 0;
  }

  .photo-gallery {
    columns: 3;
  }

  .quote-box p {
    font-size: 22px;
  }

  .footer-link h3 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1200.2px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1100.2px) {
  .click-btn {
    right: -14px;
  }

  .menu ul li {
    margin: 0 20px 0 0;
  }
}

@media only screen and (max-width: 991.2px) {
  .mobile-menu {
    display: block;
    font-size: 25px;
    margin: 0 0 0 15px;
    color: var(--fourth-color);
  }

  .mobile-menu:hover {
    color: var(--primary-color);
  }

  .offcanvas-header {
    width: 100%;
  }

  .header {
    padding: 10px 0;
  }

  .logo {
    top: -35px;
  }

  .offcanvas-header .logo {
    width: 50%;
    background: none;
    height: auto;
    position: static;
  }

  .offcanvas-header .logo img {
    width: 100%;
  }

  .offcanvas-header .close-sidebar {
    display: grid;
    place-items: center;
    outline: none;
    border: none;
    background: transparent;
    transition: all 0.5s;
    color: var(--fourth-color);
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: 2px solid #dddddd;
    border-radius: 50%;
  }

  .offcanvas-header .close-sidebar:hover {
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
  }

  .offcanvas-header .close-sidebar i {
    transition: all 0.3s;
  }

  .offcanvas-header .close-sidebar:hover i {
    transform: rotate(90deg);
  }

  .menu {
    display: none;
  }

  .offcanvas-body {
    padding: 0 15px;
  }

  .offcanvas-body .menu {
    width: 100%;
    display: block;
    padding: 0;
    text-align: left;
  }

  .offcanvas-body .menu ul {
    width: 100%;
  }

  .offcanvas-body .menu ul li {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .offcanvas-body .menu ul li a {
    width: 100%;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: solid 1px #e0e0e0;
    display: block;
  }

  .offcanvas-body .menu ul li.active a {
    color: var(--primary-color);
  }

  .offcanvas-body .click-btn {
    top: 0;
    right: 0;
  }

  .offcanvas-body ul.sub-menu {
    position: static;
    box-shadow: none;
    padding: 0;
  }

  .offcanvas-body ul.sub-menu li {
    border-bottom: none;
  }

  .offcanvas-body ul.sub-menu li a {
    padding: 5px 10px;
  }

  .menu-btn {
    width: 70%;
  }

  .offcanvas-body .menu-btn {
    width: 100%;
    text-align: left;
    margin: 20px 0 0 0;
  }

  .footer-first {
    order: 0;
  }

  .footer-image {
    text-align: left !important;
    margin: 30px 0 0 0;
  }

  .footer-image p {
    width: 100%;
  }

  .footer-secondbox {
    order: 1;
  }

  .footer.padd {
    padding: 10px 0 40px 0;
  }

  .footer-link {
    margin: 30px 0 0 0;
  }

  .footer-contact {
    margin: 30px 0 0 0;
  }

  .footer_copyright p {
    padding: 10px 0;
  }

  .logo img {
    width: 70%;
  }
}

@media only screen and (max-width: 767.2px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  .logo img {
    width: 100%;
  }

  .banner {
    height: 450px;
  }

  .banner-cont {
    padding: 15% 0 0 0;
  }

  .banner-cont p {
    width: 100%;
  }

  .photo-gallery {
    columns: 2;
  }

  .about-image {
    width: 100%;
    box-shadow: none;
    margin: 0 0 30px 0;
  }

  .testimonial-image {
    margin: 30px 0 0 0;
    height: 420px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: 420px;
  }

  .quote-box p {
    font-size: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 650.2px) {
  .logo {
    width: 25%;
  }

  .menu-btn {
    width: 60%;
  }
}

@media only screen and (max-width: 576.2px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 25px;
  }

  .photo-gallery {
    columns: 1;
    column-gap: 0;
    margin: 0;
  }

  .photo-box {
    height: 300px;
    margin: 30px 0 0 0;
  }

  .about-image {
    height: 300px;
  }

  .testimonial-image {
    height: 320px;
  }

  .testimonial-image .carousel-item {
    height: 300px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: 250px;
  }

  .quote-box p {
    font-size: 18px;
  }

  .quote-box h5 {
    font-size: 16px;
  }

  .footer-second {
    padding: 0;
  }

  .footer-link h3 {
    font-size: 20px;
  }

  .foot-icontext h4 {
    font-size: 18px;
  }

  .footer_copyright p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500.2px) {
  .banner-cont {
    padding: 20% 0 0 0;
  }
}

@media only screen and (max-width: 451.2px) {
  .menu-btn {
    display: none;
  }

  .offcanvas-body .menu-btn {
    display: block;
  }

  .logo {
    width: 30%;
  }

  .photo-box {
    height: 250px;
  }

  .about-image {
    height: 250px;
  }

  .testimonial-image {
    height: 270px;
  }

  .testimonial-image .carousel-item {
    height: 250px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: 150px;
  }

  .swiper-slide {
    width: 250px !important;
    height: 250px !important;
  }
}

@media only screen and (max-width: 406.2px) {
  .banner {
    height: 500px;
  }
}

@media only screen and (max-width: 376.2px) {
  .logo {
    width: 40%;
  }
}

@media only screen and (max-width: 365.2px) {
  .banner {
    height: 550px;
  }

  .banner-cont {
    padding: 30% 0 0 0;
  }
}

@media only screen and (max-width: 362.2px) {
  .banner {
    height: 600px;
  }
}
